body {
    margin:0px;
    background-image: url(../img/pattern.jpg);
}

header {
    display: flex;
    justify-content: space-between;
    background-color:white;
    width:100%;
    position: fixed;
    top:0;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    padding-right: 20px;
}

section {
    background-color: white;
    align-items: center;
    margin-right: 10%;
    margin-left: 10%;
    padding-top: 0px;
    margin-top: 100px;
}

.section h1 {
    border: 0ch;
    text-align: center;
    padding-top: 30px;
}

.garis {
    width: 100%;height: 2px;margin-left:auto;
    margin-right: auto;background-color:#666;
    border: 0 none;margin-top: 0px;margin-bottom:50px;
}

#article-list {
    margin-left: 10px;
    margin-right: 10px;
}

.footer {
    width: 100%;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
}